zed
gcloud
iterm2
fish
*.bak


Code
Code - OSS
Electron
GIMP
KDE
NuGet
Pinta
Podman Desktop
Proton
QtProject.conf
Signal
Trolltech.conf
VSCodium
Wasteland2
Yubico
another-redis-desktop-manager
anyrun
autostart
baloofileinformationrc
baloofilerc
blastem
bottom
caja
caja-actions
chromium
containers
cosmic
dconf
discord
dolphinrc
electron-builder.json
eww
felix
firewall
flutter
fontconfig
fontforge
freerdp
gh
github-copilot
glib-2.0
go
grub-editor
gtk-3.0
gtkrc
gtkrc-2.0
gzdoom
htop
hypr
i3
k9s
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org
kded5rc
kdedefaults
kdeglobals
kglobalshortcutsrc
kiorc
konsolerc
konsolesshconfig
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
lazydocker
libreoffice
libvirt
menus
mimeapps.list
nativevim
ncspot
neofetch
niri
nushell
nvim
omf
paru
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-workspace
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
procps
protonmail
pulse
qalculate
reflector-simple-free-params.txt
remmina
rustdesk
session
solana
spotify
spotify-launcher.conf
sway
systemd
thefuck
trashrc
tuifi
unity3d
user-dirs.dirs
user-dirs.locale
vlc
waybar
xbuild
xdg-desktop-portal-kderc
yay
zdoom
zed
